<h1 class="fs-3 text-center my-5">
    Get word definitions
</h1>

<form class="my-5 text-center">
    <input type="text" class="form-control form-control-lg w-25 mx-auto mt-5" name="word" id="word"
        placeholder="Enter a word">
</form>

<div id="result"></div>

<script src="https://rawgithub.com/atmb4u/AutoJS/master/auto.max.min.js"></script>

<script>
    const resultElement = document.querySelector('#result')
    const audio = new Audio()

    document.querySelector('form').addEventListener('submit', async event => {
        event.preventDefault()

        resultElement.innerHTML = ''

        const response = await fetch(`https://api.dictionaryapi.dev/api/v2/entries/en/${event.target.word.value}`)
        const data = await response.json()

        if (!data.length) {
            resultElement.textContent = data.message
            return
        }

        for (const item of data) {
            resultElement.innerHTML += `<h2>${item.word} <span class="fs-6">${item.phonetic ?? ''}</span></h2>`

            if (item.phonetics.length)
                resultElement.innerHTML += item.phonetics.reduce((previous, next) => {
                    const dialect = next.audio.match(/\w{2}(?=\.mp3)/)

                    return dialect ?
                        previous + `<button class="btn btn-light me-1 audio" onclick="play('${next.audio}')"><i class="bi bi-volume-up-fill"> ${dialect[0]}</i></button>`
                        : previous
                }, '<div>') + '</div>'

            item.meanings.forEach(meaning => {
                resultElement.innerHTML += `<h6><u>${meaning.partOfSpeech}</u></h6>`

                if (meaning.definitions.length)
                    resultElement.innerHTML += meaning.definitions.reduce((previous, next) => {
                        const example = next.example ? `<br><i>Example: ${next.example}</i>` : ''
                        return previous + `<li>${next.definition}${example}</li>`
                    }, '<ol>') + '</ol>'

                if (meaning.synonyms.length)
                    resultElement.innerHTML += `<div class="my-3"><b>Synonyms</b>: <mark>${meaning.synonyms.join(', ')}</mark></div>`

                if (meaning.antonyms.length)
                    resultElement.innerHTML += `<div class="my-3"><b>Antonyms</b>: <mark>${meaning.antonyms.join(', ')}<mark></div>`
            })

            resultElement.innerHTML += '<hr>'
        }
    })


    const play = src => {
        audio.src = src
        audio.play()
    }


    window.onload = () => {
        new AutoSuggestControl('word')
    }
</script>