<form action="/admin/login" method="post" class="mt-5 w-25 mx-auto text-center">
    <div class="form-floating">
        <input type="email" name="email" id="email" class="form-control" minlength="12" maxlength="32"
            placeholder="Email" required>
        <label for="email" class="form-label">Email</label>
    </div>
    <br>

    <div class="form-floating">
        <input type="password" name="password" class="form-control" minlength="4" maxlength="32" placeholder="Password"
            required>
        <label for="password" class="form-label">Password</label>
    </div>
    <br>

    <button type="submit" class="btn btn-dark d-block w-100">Submit</button>
</form>